gradio[oauth]
requests
pandas
pillow
pytesseract
pypdf2
torch
transformers
openpyxl
pdfplumber
beautifulsoup4
sympy
soundfile
duckduckgo-search
ddgs
langchain
langchain-community
langchain-core
langchain-google-genai
google-genai
langchain-experimental
langgraph
langgraph-cli[inmem]
langsmith
python-dotenv
youtube-transcript-api
pymupdf
arxiv

